RewriteEngine On
RewriteBase "/v1/"
RewriteRule "^index\.php" - [L,NC]

RewriteRule "^forum/([^/]+)$" "index.php?module=forum&action=list&type=$1" [L,NC,QSA]
RewriteRule "^forum/([^/]+)/([^/]+)$" "index.php?module=forum&action=get&type=$1&id=$2" [L,NC,QSA]
RewriteRule "^entities/([^/]+)/([^/]+)$" "index.php?module=entities&action=stat&id=$1&stat=$2" [L,NC]
RewriteRule "^users/auth/([^/]+)$" "index.php?module=users&action=auth&id=$1" [L,NC]
RewriteRule "^([^/]+)$" "index.php?module=$1&action=list" [L,NC]
RewriteRule "^([^/]+)/([^/]+)$" "index.php?module=$1&action=get&id=$2" [L,NC]

RewriteRule "^.*$" "index.php?module=error&code=400&msg=The+given+request+could+not+lead+to+any+module"
