.custom-input-container {
	padding-top: 15px;
	padding-bottom: 15px;
}

.custom-input-container-inline {
	padding-left: 15px;
	padding-right: 15px;
}

.custom-input {
	position: relative;
	border: 5px solid var(--fg-color);
	background-color: white;
}

.custom-input input,
.custom-input textarea {
	/* Technical part */
	border: none;
	outline: 0;
	box-shadow: none;
	background-color: transparent;
	box-sizing: border-box;
	padding: 1em .8ex .35em;
	font-size: 1.1em; /* Prefer modifying the parent's font-size instead of this one */
	width: 100%;

	/* Customizable part */
	color: var(--fg-color);
}

.custom-input label {
	/* Technical part */
	position: absolute;
	top: calc(50% + .25ex);
	left: .7em;
	transform-origin: top left;
	transform: scale(1.5) translateY(-50%);
	font-size: .7em; /* Prefer modifying the parent's font-size instead of this one */
	cursor: text;
	transition: .25s;

	/* Customizable part */
	color: var(--fg-color);
}

/* Note that ":placeholder-shown" may not be supported by old browsers */
.custom-input input:focus ~ label,
.custom-input input:not(:placeholder-shown) ~ label,
.custom-input textarea:focus ~ label,
.custom-input textarea:not(:placeholder-shown) ~ label {
	top: .25ex;
	transform: none;
}

/* Mark required fields */
.required-legend::before,
.custom-input input:required ~ label::after,
.custom-input textarea:required ~ label::after {
	content: "*";
	color: red;
	margin: 0 .25em;
}

.custom-control-input:checked ~ .custom-control-label::before {
	border-color: var(--fg-color);
	background-color: var(--fg-color);
}

.custom-control-input:focus ~ .custom-control-label::before {
	box-shadow: 0 0 0 .2rem rgba(var(--fg-color-r), var(--fg-color-g), var(--fg-color-b), .25);
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
	background-color: rgba(var(--fg-color-r), var(--fg-color-g), var(--fg-color-b), .25);
	border-color: rgba(var(--fg-color-r), var(--fg-color-g), var(--fg-color-b), .25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
	border-color: rgba(var(--fg-color-r), var(--fg-color-g), var(--fg-color-b), .25);
}

.custom-file-label {
	border-radius: 0;
}

.custom-file-label::after {
	border-radius: 0;
}

.custom-file-input:focus ~ .custom-file-label {
	border-color: rgb(205, 212, 218);
	box-shadow: none;
}

.markdown-editor-container {
	margin: 15px 0;
	border: 5px solid var(--fg-color);
}
