a:hover {
    color: white;
}
a {
    color: white;
}

pre {
    background-color: #444444;
    color: white;
    border-radius: 10px;
}
table {
    background-color: #444444;
    border-width:1px;
    border-style:solid;
    border-color:white;
    width:50%;
    margin: 10px;
}
td {
    border-width:1px;
    border-style:solid;
    border-color:white;
    width:50%;
    text-align: center;
    padding: 10px;
}

th{
    border-width:1px;
    border-style:solid;
    border-color:white;
    width:50%;
    text-align: center;
    padding: 10px;
}

