.panel {
	min-height: calc(100vh - 400px);
	margin: 100px 0;
}

.panel-body {
	margin-top: 50px;
	margin-bottom: 100px;
}

.panel-link {
	margin: 35px 0;
}

.panel-link a {
	font-size: 1.5em;
	width: 100%;
}

.panel-btn {
	font-size: 1.25em;
	margin: 10px 0 20px;
	padding-right: 35px;
	padding-left: 35px;
}

.published-switch {
	transform: scale(1.75);
}

.published-switch * {
	cursor: pointer;
}

.rank-switch {
	transform: scale(1.25);
	margin: 10px 0;
}

.rank-switch .custom-control-label {
	line-height: 1;
}

.rank-switch * {
	cursor: pointer;
}

.panel-img {
	max-width: 250px;
}
