@font-face {
	font-family: "Ringbearer";
	src: url("/data/fonts/ringbearer/ringbearer.ttf") format("truetype");
}

html {
	--bg-color: #8e010f;
	--fg-color: #444444;

	--bg-color-r: 142;
	--bg-color-g: 1;
	--bg-color-b: 15;

	--fg-color-r: 68;
	--fg-color-g: 68;
	--fg-color-b: 68;

	--hover-color: #555555;
	--active-color: #666666;

	--font-title: "Ringbearer", "Montserrat", sans-serif;
	--font-body: "Montserrat", sans-serif;
}

body {
	background-color: var(--bg-color);
	font-family: var(--font-body);
	font-size: 18px;
	color: white;
	padding: 100px 0;
	min-height: 100vh;
	position: relative;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	background-color: var(--fg-color);
	box-shadow: rgba(0, 0, 0, 0.16) 0 20px 20px;
	z-index: 50;
	padding-right: 100px;
}

#main-logo {
	margin-left: 80px;
}

#main-logo img {
	margin: 20px;
	height: 60px;
}

#main-logo h1 {
	font-family: var(--font-title);
	font-size: 32px;
	margin: 0 10px;
}

#main-logo,
#main-logo:hover {
	text-decoration: inherit;
	color: inherit;
}

a.download-btn {
	font-size: 24px;
	padding: 5px 10px !important;
	margin-left: 15px;
}

h2 {
	font-family: var(--font-title);
	font-size: 60px;
	text-align: center;
	margin: 80px 0 50px;
}

.important {
	font-size: 125%;
}

a {
	color: white;
	text-decoration: underline transparent;
	transition: text-decoration-color .1s;
}

a:hover {
	color: white;
	text-decoration-color: white;
}

a.inverted {
	text-decoration: underline white;
}

a.inverted:hover {
	text-decoration-color: transparent;
}

.btn {
	font-family: var(--font-title);
	border-radius: 0;
	border: 5px solid white;
	padding: 5px 75px;
	font-size: 1.5em;
	color: white;
	text-decoration: underline transparent;
	transition: text-decoration-color .1s;
}

.btn.small-btn {
	padding: 5px 10px;
}

.btn:hover {
	color: white;
	text-decoration: underline white;
}

.btn:focus {
	box-shadow: none;
}

.main-btn,
.main-badge {
	background-color: var(--bg-color);
}

.sub-btn,
.sub-badge {
	background-color: var(--fg-color);
}

table.custom-table {
	border: 2px solid white;
	padding: 8px;
	background-color: white;
	text-align: center;
}

table.custom-table tbody {
	border: 4px solid white;
}

table.custom-table thead,
table.custom-table tbody {
	position: relative;
}

table.custom-table thead::before,
table.custom-table tbody::before {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	width: calc(100% - 2px);
	height: calc(100% - 1px);
	border: 10px solid;
	z-index: 2;
	pointer-events: none;
}

table.custom-table thead::before {
	border-color: var(--fg-color);
}

table.custom-table tbody::before {
	border-color: white;
}

table.custom-table thead th,
table.custom-table thead td {
	position: relative;
	color: white;
	background-color: var(--fg-color);
	box-shadow: 0 0 0 2px white;
}

table.custom-table tbody th,
table.custom-table tbody td {
	color: var(--fg-color);
	border: 1px solid var(--fg-color);
}

table.custom-table td,
table.custom-table th {
	padding: 15px;
}

table.custom-table th {
	font-weight: 600;
}

table.custom-table td[data-align="left"],
table.custom-table th[data-align="left"] {
	text-align: left;
}

table.custom-table td[data-align="center"],
table.custom-table th[data-align="center"] {
	text-align: center;
}

table.custom-table td[data-align="justify"],
table.custom-table th[data-align="justify"] {
	text-align: justify;
}

table.custom-table td[data-align="right"],
table.custom-table th[data-align="right"] {
	text-align: right;
}

table.custom-table a {
	color: var(--bg-color);
}

table.custom-table a:hover {
	text-decoration-color: var(--bg-color);
}

.modal.custom-modal .modal-content {
	background-color: rgba(var(--fg-color-r), var(--fg-color-g), var(--fg-color-b), .9);
	color: white;
}

.modal.custom-modal .modal-content,
.modal.custom-modal .modal-header,
.modal.custom-modal .modal-footer {
	border: none;
	border-radius: 0;
}

.modal.custom-modal .modal-footer {
	justify-content: center;
}

.modal.custom-modal .modal-title {
	font-family: var(--font-title);
}

.modal.custom-modal .close {
	color: white;
	text-shadow: none;
}

footer {
	height: 100px;
	background-color: var(--fg-color);
	box-shadow: rgba(0, 0, 0, 0.16) 0 -20px 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 100px !important;
}

@media all and (max-width: 991px) {
	footer {
		padding: 0 15px !important;
	}
}
