@font-face {
	font-family: "Ringbearer";
	src: url("/data/fonts/ringbearer/ringbearer.ttf") format("truetype");
}

html {
	--bg-color: #8e010f;
	--fg-color: #444444;

	--bg-color-r: 142;
	--bg-color-g: 1;
	--bg-color-b: 15;

	--fg-color-r: 68;
	--fg-color-g: 68;
	--fg-color-b: 68;

	--font-title: "Ringbearer", "Montserrat", sans-serif;
	--font-body: "Montserrat", sans-serif;
}

body {
	background-color: var(--bg-color);
	font-family: var(--font-body);
	font-size: 18px;
	color: white;
	padding: 100px 0;
	min-height: 100vh;
	position: relative;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	background-color: var(--fg-color);
	box-shadow: rgba(0, 0, 0, 0.16) 0 20px 20px;
	z-index: 50;
	padding-right: 100px;
}

#main-logo {
	margin-left: 80px;
}

#main-logo img {
	margin: 20px;
	height: 60px;
}

#main-logo h1 {
	font-family: var(--font-title);
	font-size: 32px;
	margin: 0 10px;
}

#main-logo,
#main-logo:hover {
	text-decoration: inherit;
	color: inherit;
}

.download-btn {
	font-size: 24px;
	padding: 5px 10px !important;
	margin-left: 15px;
}

h2 {
	font-family: var(--font-title);
	font-size: 60px;
	text-align: center;
	margin: 80px 0 50px;
}

.main-btn {
	background-color: var(--bg-color);
	font-family: var(--font-title);
	border-radius: 0;
	border: 5px solid white;
	color: white;
	padding: 5px 75px;
}

.main-btn:hover {
	text-decoration: underline;
	color: white;
}

footer {
	height: 100px;
	background-color: var(--fg-color);
	box-shadow: rgba(0, 0, 0, 0.16) 0 -20px 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 100px !important;
}
