#loupe {
	height: 40px;
	width: 40px;
	padding-right: 5px;
}

#recherche {
	margin-bottom: 15px;
}

#search {
	width: 100%;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 3px solid #444444;
}

.custom-control-input:checked ~ .custom-control-label::before {
	border-color: var(--fg-color);
	background-color: var(--fg-color);
}

.custom-control-input:focus ~ .custom-control-label::before {
	box-shadow: 0 0 0 .2rem rgba(var(--fg-color-r), var(--fg-color-g), var(--fg-color-b), .25);
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
	background-color: rgba(var(--fg-color-r), var(--fg-color-g), var(--fg-color-b), .25);
	border-color: rgba(var(--fg-color-r), var(--fg-color-g), var(--fg-color-b), .25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
	border-color: rgba(var(--fg-color-r), var(--fg-color-g), var(--fg-color-b), .25);
}

.form-check {
	padding: 50px;
}

.titleTypeSearch {
	padding-top: 75px;
	padding-bottom: 20px;
}

#resultDiv {
	padding-top: 50px;
}

.titleTypeSearch {
	padding-top: 25px;
}

.submit-search {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	height: 75%;
}

#result-container {
	padding-bottom: 75px;
}

.wiki-pagepreview-parent {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.wiki-pagepreview-container {
	margin: 30px;
	max-width: 250px;
	flex: 1 250px;
}

.wiki-pagepreview-container .page-image {
	overflow: hidden;
}

.wiki-pagepreview-container .page-image img {
	transition: transform 1s ease;
}

.wiki-pagepreview-container:hover .page-image img {
	transform: scale(1.2);
}

.wiki-pagepreview-container .page-title {
	overflow-wrap: break-word;
	hyphens: auto;
	font-weight: normal;
	margin-top: 10px;
}

.section-title {
	text-align: center;
	font-size: 2.5em;
	font-family: var(--font-title);
}

.wiki-body {
	padding: 0 75px 65px;
}

/* Sidebar */
.wiki-sidebar-container {
	position: fixed;
	right: 0;
	padding: 0 !important;
}

.wiki-sidebar {
	background-color: var(--fg-color);
	height: calc(100vh - 100px);
	overflow-y: auto;
}

.wiki-sidebar-inner {
	padding-bottom: calc(100px + 2.5rem);
}

@media all and (max-width: 1199px) {
	.wiki-sidebar-container {
		position: unset;
	}

	.wiki-sidebar {
		height: unset;
	}

	.wiki-sidebar-inner {
		padding-bottom: 1.5rem;
	}
}
