.download {
	height: calc(100vh - 200px);
	min-height: 500px;
}

.download h2 {
	font-size: 60px;
	margin: 0;
}

.download p {
	font-family: var(--font-title);
	font-size: 100px;
}

.download .btn {
	font-size: 32px;
	margin-top: 35px;
}

#popup {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: flex;
	cursor: pointer;
	background-color: rgba(0, 0, 0, .35);
}

#popup-content {
	background-color: rgba(var(--fg-color-r), var(--fg-color-g), var(--fg-color-b), .9);
	cursor: auto;
}

.versions-selector {
	padding: 25px 0;
}

#latest {
	font-size: 1.35em;
	padding: 5px 10px;
}

.name {
	font-size: 2em;
}

.publish-date {
	font-size: 1.2em;
	font-weight: 600;
}

.dl {
	font-size: 1.35em;
	margin-bottom: 25px;
}
