.carousel-accueil {
	height: calc(100vh - 100px);
	min-height: 500px;
}

.carousel-accueil .carousel-item {
	height: 100%;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.presentation {
	margin: 150px 0 100px;
}

.presentation h2 {
	margin: 50px 0;
}

.presentation p {
	text-indent: 4rem;
	text-align: justify;
	font-size: 15px;
}

.presentation img {
	width: 100%;
}

.presentation div {
	padding: 0 35px 0;
}

.carousel-item h2 {
	font-size: 60px;
	width: 100%;
	margin-top: 0;
	text-shadow: 0 0 5px black;
}

.carousel-item p {
	font-family: var(--font-title);
	font-size: 100px;
	text-shadow: 0 0 5px black;
}

.carousel-btn {
	font-size: 32px;
	margin-top: 35px;
}
