.api-page {
	padding-top: 15px;
	padding-bottom: 75px;
}

.api-content {
	padding-top: 15px;
	padding-bottom: 25px;
}

.api-content h3 {
	font-family: var(--font-title);
	text-align: center;
}

.api-content p {
	text-align: justify;
	text-indent: 4rem;
}
